*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.header{
    background-color: #3A3838;
    height: 112px;
    width: 1440px;
    padding-top: 28px;
    padding-left: 54px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.right-nav{
    display: flex;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.right-nav a:hover{
    color: blue;
    background-color: none;
}